<!DOCTYPE html>
<html>
<head>
    <title>Author List</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin:40px;
        }

        table{
            width:100%;
            border-collapse: collapse;
        }

        th, td{
            border:1px solid #ccc;
            padding:10px;
            text-align:left;
        }

        th{
            background:#0d6efd;
            color:white;
        }

        tr:nth-child(even){
            background:#f8f9fa;
        }
    </style>
</head>
<body>

<h2>Author List</h2>
<a href="{% url 'author-add' %}">
    <button>Add Author</button>
</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td> <a href="{% url 'author-detail' author.pk %}">{{ author.name }}</a></td>
            <td>{{ author.email }}</td>
            <td>
                {% if author.is_active %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </td>
            <td>
                <a href="{% url 'author-edit' author.pk %}">
                Edit
                </a>
            </td>
               <td>
                <a href="{% url 'author-delete' author.pk %}">
                Delete
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No authors found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>